<div class="es-nav-top es-nav-top-mobile es-hidden-md xs-pl-20 xs-pr-20 xs-pt-10 xs-pb-10 fill-blue">
  <ul class="list-unstyled flex justify-space-between align-center">
    <li class="search-open"  tabindex="0"><img class="es-nav-icon icon-search pointer" src="{{site.theme.link}}/assets/images/search-icon-white@2x.png" alt="Small icon of a magnifying glass"><div class="es-nav-spacer es-hidden-xs es-show-sm"></div></li>
    <li><a href="{{ options.request_demo.url }}" class="text-14-medium text-white link-white decoration-none" {{ options.request_demo.target }}>{{ options.request_demo.text }}</a></li>
    <li>
      <span class="es-hidden-xs es-show-sm-flex text-14-medium text-white link-white">{{ options.top_nav_phone_mobile }}</span>
      <a class="es-hidden-sm" href="tel:+18004114700" aria-label="call serenova">
        <img class="es-nav-icon" src="{{site.theme.link}}/assets/images/phone-icon@2x.png" alt="telephone icon">
      </a>
    </li>
  </ul>
</div>
