{% extends "layouts/base.twig" %}
{% block content %}
  <section class="es-search fill-white xs-pb-80">
    <div class="es-search-header xs-pt-40 xs-pb-40 sm-pt-80 sm-pb-80 sm-mb-60">
        <div class="es-grid">
            <div class="es-row-column">
              <h1 class="title-1 text-dark-10 xs-mb-20 es-col-xs-6 es-offset-sm-2 es-col-sm-3">{% if options.resources_archive_title is not empty %} {{ options.resources_archive_title }} {% else %} Resources{% endif %}</h1>
              {% if options.resources_archive_text is not empty %}
              <p class="es-col-xs-6 es-offset-sm-2 es-col-sm-3 text-20 text-dark-30">{{ options.resources_archive_text }}</p>
              {% endif %}
            </div>
        </div>
    </div>
    {% include 'archives/resource-featured.twig' %}
    {% include 'components/resources-tabs.twig' %}
    <section class="fill-white">
      <div class="es-grid">
          <div class="es-row">
            {% for post in resource %}
              {% set url = "" %}
              {% set url_text = "" %}
              {% set target = "" %}
              {% set link_text = "" %}
              {% if post.get_field('add_link_or_pdf') == 'Link' %}
                {% if post.get_field('resources_link').url is not empty %}
                  {% set url = post.get_field('resources_link').url %}
                  {% set h3_text =  post.title  %}
                  {% set target = post.get_field('resources_link').target %}
                  {% set link_text = post.get_field('resources_link').text %}
                {% endif %}
              {% elseif post.get_field('add_link_or_pdf') == 'PDF' %}
                {% if post.get_field('resources_pdf') is not empty %}
                  {% set url = post.get_field('resources_pdf') %}
                  {% set h3_text =  post.title  %}
                  {% set target = 'target = "_blank"' %}
                  {% set link_text = "Download PDF" %}
                {% endif %}
              {% else %}
                  {% set url = post.link %}
                  {% set h3_text =  post.title  %}
                  {% set link_text = "Read More" %}
                  {% set target = "" %}
              {% endif %}
            <div class="es-search-item es-col-xs-6 es-col-sm-2 xs-mb-40">
                {% if post.thumbnail %}
                <a href="{{ url }}" class="xs-mb-20" {{ target }}>
                  <img src="{{ post.thumbnail.src|resize(600, 400) }}" />
                </a>
                {% else %}
                <a href="{{ url }}" class="xs-mb-20" {{ target }}>
                  <img src="{{site.theme.link}}/assets/images/related-placeholder.jpg" style="max-height:240px"/>
                </a>
                {% endif %}
                <h3 class="xs-mb-5">
                  <a href="{{ url }}" class="text-20-bold text-dark-10 decoration-none" {{ target }}>{{ h3_text }}</a>
                </h3>
                {% for term in post.terms('resource-category') %}
                <a class="text-13-bold decoration-none text-dark-70" href="{{ term.link }}" title="View all posts in {{ term.name }}" rel="category tag">{{ term.name }}</a>{% if loop.last == false %},{% endif %}
                {% endfor %}
                <p class="text-16 text-dark-30 xs-mt-15 xs-mb-20">{{post.post_content|excerpt(20)}}</p>
                {% if url is not empty %}
                <a href="{{ url }}" class="link-blue link-arrow-blue text-blue decoration-none caps text-15-medium" {{target}}>{{ link_text }}</a>
                {% else %}
                Don't forget to attach or link your page.
                {% endif %}
            </div>
            {% endfor %}
          </div>
          {% include 'partials/listing-pagination.twig' %}
      </div>
    </section>
</section>
{% endblock %}
