<section class="es-columned-text xs-pb-20 xs-pt-20 sm-pb-60 sm-pt-60 {{ item.column_text_background_white ? 'fill-white' : ''}}">
  <div class="es-grid">
  {% if item.column_text_title is not empty %}
    <div class="es-row">
      <h2 class="title-1 text-dark-10 xs-mb-20 title-cap es-col-xs-6 es-col-sm-4 es-col-md-3">
        {{ item.column_text_title }}
      </h2>
    </div>
  {% endif %}
  {% if item.column_text_left is not empty or item.column_text_right is not empty %}
    <div class="es-row">
    {% if item.column_text_left is not empty %}
      <div class="text-20 text-dark-30 es-col-xs-6 es-col-sm-4 es-col-md-3">
        {{ item.column_text_left }}
      </div>
    {% endif %}
    {% if item.column_text_right is not empty %}
      <div class="text-20 text-dark-30 es-col-xs-6 es-col-sm-4 es-col-md-3">
        {{ item.column_text_right }}
      </div>
    {% endif %}
    </div>
    {% if item.column_link.text is not empty %}
      <div class="es-col-xs-6 xs-mt-40">
        {% if item.column_link.text is not empty %}
          <a href="{{ item.column_link.url }}" class="text-15-medium caps link-blue link-arrow-blue decoration-none" {{ item.column_link.target }}>{{ item.column_link.text }}</a>
        {% endif %}
      </div>
    {% endif %}
  {% endif %}
  </div>
</section>
